@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Articles</h1>

    <!-- Create Article Button -->
    <a asp-controller="Article" asp-action="Create" class="btn btn-primary mt-3">
        Create Article
    </a>
</div>
