@page
@model Assignment1.Areas.Identity.Pages.Account.AdminModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Page </title>
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
</head>

<div class="formDiv">
    <div class="col-md-4">
        
    </div>
</div>